<% content_for(:javascript) do %>
  <%= javascript_include_tag :event_multiple_invite %>
<% end %>

<% content_for :content do %>
  <%= render 'shared/navbar' -%>

  <div class="main-content">
    <div class="new-event-invite">
      <div class="event-header">
        <div class="event-name">
          <h1><%= @event.name %></h1>
        </div>
      </div>

      <section class="search-box">
        <h4><%= t 'multiple_invitations_index.invite_people_to_event' %></h4>

        <%= form_tag('',  id: 'invitations') do %>
          <fieldset class="inputs">
            <ol>
              <div class="invitee-input">
                <%= text_field_tag "invitation[invitee_attributes][name_or_email]",
                  nil,
                  'data-role' => 'invitation_name',
                  placeholder: t('multiple_invitations_index.watermark'),
                  id: 'auto-complete' %>
              </div>
              <div class="invitation-autocomplete-suggestions"></div>
            </ol>
          </fieldset>
        <% end %>
      </section>

      <section class="custom-text">
        <div class="suggestions">
          <h4><%= t 'multiple_invitations_index.invitation_text_label' %></h4>
          <div class="invitation-text">
            <%= text_area_tag '', last_non_owner_invitation_text(@event),
              id: 'multiple-invite-text', size: '50x4' %>
          </div>
        </div>
      </section>

      <%= render 'javascript_templates/yammer_autocomplete_templates' %>
      <%= render 'javascript_templates/multiple_invitation_templates' %>

      <section id='invitees' class="invited-users invited">
        <h4><%= t 'multiple_invitations_index.invited_users_label' %></h4>

        <h5 id="invite_users"><%= t 'multiple_invitations_index.invited_users_text' %>.</h5>
        <ul class="users list-invitees">
        </ul>
      </section>

      <section id='groups' class="groups invited-yammer-groups invited">
        <h4><%= t 'multiple_invitations_index.invited_yammer_groups_label' %></h4>

        <h5 id="invite_groups"><%= t 'multiple_invitations_index.invited_yammer_groups_text' %></h5>
        <ul class="invited-groups list-invitees">
        </ul>
      </section>

      <form accept-charset="UTF-8" action="/events/<%= @event.uuid %>" class="formtastic event" id="new_event" method="get" novalidate="novalidate">
        <input id="event_id" type="hidden" value="<%= @event.id %>" />
        <fieldset class="actions">
          <ol>
            <li class="action input_action " id="event_submit_action">
              <input class="cta" id="multi-invite-submit" name="commit" type="submit" value="Invite">
            </li>
          </ol>

          <%= link_to 'Back', edit_event_path(@event), class: 'back' %>
        </fieldset>
      </form>

    </div>
  </div>
<% end %>

<%= render file: 'layouts/application' %>
