<div class="guest-sign-in">
  <%= link_to "Sign in with Yammer", "/auth/yammer", class: "sign-in",  id: "sign-in" %>
  <p class="sign-in-tip">&hellip;or enter your name and email to vote</p>

  <%= semantic_form_for @guest do |f| %>
    <%= f.inputs do %>
      <%= f.text_field :name, label: false, placeholder: 'Name' %>

      <div class="errors">
        <% @guest.errors[:name].each do |name_error| %>
          <div class="inline-errors">
            <%= name_error %>
          </div>
        <% end %>
      </div>

      <%= f.text_field :email, label: false, placeholder: 'Email' %>
      <div class="errors">
        <% @guest.errors[:email].each do |email_error| %>
          <div class="inline-errors">
            <%= email_error %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, label: 'Begin Voting', button_html: { class: "cta" } %>
    <% end %>
  <% end %>
</div>

<%= link_to "staging", "/auth/yammer_staging", :class => "staging-login" %>
