<% if @event %>
  <% content_for :head do %>
      <meta property="og:title" content="<%= @event.name %>" />
      <meta property="og:type" content="poll" />
      <meta property="og:url" content="<%= event_url(@event) %>" />
  <% end %>
<% end %>

<div class="guest-sign-in">
  <p class="sign-in-message">Sign in to Sched.do and help <%= @event.user.name %> pick a time for "<%= @event.name %>".</p>

  <%= link_to "Sign in with Yammer", "/auth/yammer", class: "sign-in",  id: "sign-in" %>
  <p class="sign-in-tip">Or enter your name and email.</p>

  <%= semantic_form_for @guest do |f| %>
    <%= f.inputs do %>
      <%= f.text_field :name, label: false, placeholder: 'Name' %>

      <div class="errors">
        <% if @guest.errors[:name].present? %>
          <div class="inline-errors">
            <%= @guest.errors[:name].first %>
          </div>
        <% end %>
      </div>

      <%= f.text_field :email, label: false, placeholder: 'Email' %>
      <div class="errors">
        <% if @guest.errors[:email].present? %>
          <div class="inline-errors">
            <%= @guest.errors[:email].first %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, label: 'Begin Voting', button_html: { class: "cta" } %>
    <% end %>
  <% end %>
</div>

<div class="staging-signin-spacer"></div>

<%= link_to "staging", "/auth/yammer_staging", :class => "staging-login" %>
