<% if @event %>
  <% content_for :head do %>
      <meta property="og:title" content="<%= @event.name %>" />
      <meta property="og:type" content="poll" />
      <meta property="og:url" content="<%= event_url(@event) %>" />
  <% end %>
<% end %>

<div class="guest-sign-in">
  <div class="sign-in-message"><p>Sign in to Sched.do (Skeh-DOO) and help <%= @event.owner.name %> decide on "<%= @event.name %>".</p></div>
  <%= form_tag "/auth/yammer" do %>
    <section class="signin-with-yammer">
      <%= submit_tag "Sign in with Yammer", class: "sign-in",  id: "sign-in" %>
      <div class="agree-to-tos">
        <label>
          <input type="hidden" name="agree_to_tos" value="0">
          <input type="checkbox" name="agree_to_tos" value="1" checked="checked">
          I agree to the
          <%= link_to 'terms of service', "https://www.yammer.com/about/terms/", target:"_blank" %>
        </label>
      </div>
    </section>
  <% end %>
  <% if @show_guest_login %>
    <p class="sign-in-tip">Or enter your name and email.</p>

    <%= semantic_form_for @guest do |f| %>
      <%= f.inputs do %>
        <%= hidden_field_tag :event_id, params[:event_id] %>
        <%= f.text_field :name, label: false, placeholder: 'Name' %>

        <div class="errors">
          <% @guest.errors[:name].each do |name_error| %>
            <div class="inline-errors">
              <%= name_error %>
            </div>
          <% end %>
        </div>

        <%= f.text_field :email, label: false, placeholder: 'Email' %>
        <div class="errors">
          <% @guest.errors[:email].each do |email_error| %>
            <div class="inline-errors">
              <%= email_error %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, label: 'Begin Voting', button_html: { class: "cta" } %>
      <% end %>
    <% end %>
  <% end %>

</div>

<div class="staging-signin-spacer"></div>

<%= link_to "staging", "/auth/yammer_staging", :class => "staging-login" %>
