<%= render 'title', title: "#{@guest.name.try(:+, ' ')}You’re invited!" %>

<p>
  <%= image_tag(@invitation.sender.image) %>
  <%= @invitation_text %>
</p>


<p>
  Click here to vote and see the results:
  <%= render 'click_here',
    event: @event,
    email: @guest.email,
    source: 'event-invitation',
    medium: 'email',
    campaign: 'sched.do'
  %>
</p>

<p>
  <%= render 'footer' %>
</p>
