<%= render partial: 'title', locals: { title: "#{@guest.name.try(:+, ' ')}You’re invited!" } %>

<p>
  <%= image_tag(@event.owner.image) %>
  <strong><%= @event.owner %></strong> <%= get_first_line_of_invitation(@invitation) %>
</p>

<p>
  Click here to vote and see the results.
  <%= render partial: 'click_here', locals: { event: @event, email: @guest.email } %>
</p>

<p>
  <%= render 'footer' %>
</p>
