<%= render 'title', title: "#{@guest.name.try(:+, ' ')}You’re invited!" %>

<p>
  <%= image_tag(@invitation.sender.image) %>
  <strong><%= @event.owner %></strong> <%= get_first_line_of_invitation(@invitation) %>
</p>

<p>
  Click here to vote and see the results.
  <%= render 'click_here',
    event: @event,
    email: @guest.email,
    source: 'event-invitation',
    medium: 'email',
    campaign: 'sched.do'
  %>
</p>

<p>
  <%= render 'footer' %>
</p>
