<%= render partial: 'title', locals: { title: "#{@guest.name.try(:+, ' ')}You’re invited!" } %>

<p>
  <%= image_tag(@event.owner.image) %>
  <strong><%= @event.owner %></strong> created the <%=
  	link_to @event.name,
    event_url(@event, guest_email: @guest.email),
    html_options = { style: 'color: #EC6E4D' }
    %> poll and <%= @sender.name %> wants your input.
</p>

<p>
  Click here to vote and see the results.
  <%= render partial: 'click_here', locals: { event: @event, email: @guest.email } %>
</p>

<p>
  <%= render 'footer' %>
</p>
