<%= render partial: 'title', locals: { title: "#{@guest.name || @guest.email} You’re invited!" } %>

<p>
<strong><%= @event.owner %></strong> created the "<%=
  link_to truncate(@event.name, length: 28),
    event_url(@event, guest_email: @guest.email),
    html_options = { style: 'color: #EC6E4D' }
    %>" poll and <%= @sender.name %> wants your input.
</p>

<p>
  Please click the below button to view the options and vote.
  <%= render partial: 'click_here', locals: { event: @event, email: @guest.email } %>
</p>

<p>
  This poll was sent using sched.do. Create your own polls for free at <%= link_to 'https://www.sched.do', 'https://www.sched.do' %>
</p>
