<%= render 'title', title: 'Reminder to vote' %>

<p>
  <%= image_tag(@sender.image) %>You haven't voted on <%= link_to @event.name, event_url(@event) %> and <%= @sender.name %> wants your input.
</p>

<p>
  Click here to change your vote or see the results.
  <%= render 'click_here', event: @event, email: @guest.email %>
</p>

<p>
  <%= render 'footer' %>
</p>
