<%= render partial: 'title', locals: { title: 'Reminder to vote' } %>

You haven't voted on <%= link_to @event.name, event_url(@event) %> and <%= @sender.name %> wants your input.

<p>
  <%= image_tag(@event.owner.image) %>
  Click here to change your vote or see the results.
  <%= render partial: 'click_here', locals: { event: @event, email: @guest.email } %>
</p>

Did you know you can send your own polls for free? Use sched.do to plan events easily and collect feedback fast on virtually any topic. Click here to <%= link_to 'learn more', root_url %>.
