<%= render partial: 'title', locals: { title: 'Thanks for voting!' } %>

<p>
  <%= image_tag(@event.owner.image) %>
  Thanks for helping <strong><%= @event.owner %></strong> with <%=
  link_to @event.name,
    event_url(@event),
    html_options = { style: 'color: #EC6E4D' } %>.
</p>

<p>You voted for:</p>

<%= render partial: 'list_votes', locals: { event: @event, voter: @user } %>

<p>
  Click here to change your vote or see the results.
  <%= render partial: 'click_here', locals: { event: @event, email: @user.email } %>
</p>

<% if @user != @event.owner %>
  <p>
    <%= render 'footer' %>
  </p>
<% end %>
