<h1 class="h1" style="color: #30AADE;display: block;font-family: Helvetica, sans-serif;font-size: 24px;font-weight: normal;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 25px;margin-left: 0;text-align: left;">
  Thanks for voting!
</h1>

<p>Thanks for helping <strong><%= @event.user.name %></strong> with “<%= link_to @event.name, event_url(@event), html_options = { :style => "color: #EC6E4D"} %>”.</p>

<p>You voted for:</p>

<ul>
  <% @event.user_votes(@user).each do |vote| %>
    <li><strong><%= vote.suggestion.primary %><%= "," if vote.suggestion.secondary.present? %> <%= vote.suggestion.secondary %></strong></li>
  <% end %>
</ul>

<p>Click here to <%= link_to "change your vote", event_url(@event), html_options = {:style => "color: #EC6E4D"} %> or to find out how other people have voted.</p>

<p>Did you know you can send your own polls for free? Use sched.do to plan events easily and collect feedback fast on virtually any topic. Click here to <%= link_to "learn more", root_url, html_options = {:style => "color: #EC6E4D"} %>.</p>
