<%= render 'title', title: 'Thanks for voting!' %>

<p>
  <%= image_tag(@event.owner.image) %>
  Thanks for helping <strong><%= @event.owner %></strong> with
  <%= link_to @event.name,
    event_url(
      @event,
      source: 'vote-confirmation',
      medium: 'email',
      campaign: 'sched.do'
    ),
    html_options = { style: 'color: #EC6E4D' }
  %>.
</p>

<p>You voted for:</p>

<%= render 'list_votes', event: @event, voter: @user %>

<p>
  Click here to change your vote or see the results.
  <%= render 'click_here',
    event: @event,
    email: @user.email,
    source: 'vote-confirmation',
    medium: 'email',
    campaign: 'sched.do'
  %>
</p>

<% if @user != @event.owner %>
  <p>
    <%= render 'footer' %>
  </p>
<% end %>
