<% content_for(:javascript) do %>
  <%= javascript_include_tag :user_dashboard %>
<% end %>

<div class="my-events">
  <h2><%= t 'events_show.my_polls' %></h2>
    <% if @events.any? %>
      <%= render 'events' %>
    <% else %>
      Looks like you don't have any events yet.
      <%= link_to 'Click here', new_event_path %>
      to create one now.
    <% end %>
  </div>
<% content_for(:poll_create_button) do %>
  <%= render 'shared/create_poll' %>
<% end %>
