<footer>
  <div class="inner">
    <span class="copy-right">&copy;<%= Time.now.year %> sched.do</span>
    <% if current_user.present? %>
      <%= link_to 'Terms of Service', YAMMER_HOST + '/about/terms/', target:'_blank' %>
      <%= link_to 'Sign out', sign_out_path %>
      <%= link_to 'Share sched.do', '#', class: 'dialog_link share_link' %>
      <%= render 'shared/share_dialog' %>
    <% else %>
      <%= link_to 'Staging', '/auth/yammer_staging' %>
    <% end %>
  </div>
</footer>

<%= render 'shared/javascript' %>
<%= render 'shared/share_app_flash' %>
