<footer>
  <div class="inner">
    <span class="copy-right">&copy;<%= Time.now.year %> sched.do</span>
    <% if current_user.present? %>
      <%= terms_of_service_link %>
      <%= link_to 'Sign out', sign_out_path %>
      <% if current_user.yammer_user? %>
        <%= link_to 'Share sched.do', '#', class: 'dialog_link' %>
        <%= render 'shared/footer_share_app' %>
      <% end %>
    <% else %>
      <%= link_to 'Staging', '/auth/yammer_staging' %>
    <% end %>
  </div>
</footer>

<%= render 'shared/javascript' %>
<%= render 'shared/share_app_flash' %>
