<header>
  <div class="header-content">
    <a href="/" class="logo">
      <%= image_tag 'navbar-logo.svg', 'data-png-fallback' => asset_path('navbar-logo.png'), :alt => 'sched.do' %>
    </a>

    <nav>
      <ul>
        <% if current_user.yammer_user? %>
          <li>
            <span class="navbar-user-name">
              Hi, <em><%= current_user.name %>!</em>
            </span>
          </li>
          <li>
            <span class="user-avatar">
              <div class="avatar" style="background-image: url(<%= current_user.image %>)"></div>
            </span>
          </li>
          <li>
            <%= yield(:poll_create_button) %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Create Poll',
              "#sign-in-modal",
              id: "new-event",
              name: "sign-in-modal" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<%= render 'shared/flashes' -%>
