<div class="hide-modal">
  <div class="dialog-modal share-app <%= share_trigger %>">
    <h2><%= t 'share_modal.header_prompt' %></h2>
    <h3><%= t 'share_modal.subheader_prompt' %></h3>
    <form>
      <fieldset class="inputs">
        <ol>
          <div class="suggestions">
            <p><%= t 'share_modal.customize_message' %></p>
          </div>
          <div class="nested-field">
            <li>
            <%= text_area_tag '', (t'share_modal.default_text'),
              class: 'customize-message', size: '50x4' %>
            </li>
          </div>
          <li>
            Post to: <a class="recipients">My Colleagues</a>
            <div class="group-list">
              <h3>Change group ▾</h3>
              <div>
                <ol class="selectable groups">
                  <li class="group" data-group-id="null">
                    My Colleagues
                  </li>
                </ol>
              </div>
            </div>
          </li>
        </ol>
      </fieldset>

      <fieldset class="actions">
        <ol>
          <li class="action input-action">
          <%= button_to 'Share',
            '#',
            class: 'share-button cta' %>
          </li>
        </ol>
      </fieldset>
    </form>
  </div>
</div>
<%= render 'javascript_templates/group_selector_templates' %>

