  <div class="search-box">
  <%= semantic_form_for(@invitation, html: { id: 'invitations'}) do |form| %>
    <%= form.inputs do %>
      <%= text_field_tag "invitation[invitee_attributes][name_or_email]", nil, 'data-role' => 'invitation_name', placeholder: "+ Add invitees...", id: "auto-complete"   %>
      <%= form.input :event_id, as: :hidden %>
      <%= form.semantic_fields_for :invitee do |invitee_form| %>
        <%= invitee_form.input :yammer_user_id, as: :hidden, input_html: { 'data-role' => 'yammer_user_id' } %>
        <%= invitee_form.input :yammer_group_id, as: :hidden, input_html: { 'data-role' => 'yammer_group_id' } %>
      <% end %>
      <%= form.action :submit, label: "+ Invite", button_html: {class: "add-invitee"} %>
      <div class="invitation-autocomplete-suggestions"></div>
    <% end %>
  <% end %>
  </div>
