  <div class="search-box">
  <%= semantic_form_for(@invitation, html: { id: 'invitations'}) do |form| %>
    <%= form.inputs do %>
      <%= form.input :name_or_email, label: false, required: false,
            input_html: { 'data-role' => 'invitation_name', placeholder: "+ Add invitees...", id: "auto-complete" }  %>
      <%= form.input :yammer_user_id, as: :hidden, input_html: { 'data-role' => 'yammer_user_id' } %>
      <%= form.input :yammer_group_id, as: :hidden, input_html: { 'data-role' => 'yammer_group_id' } %>
      <%= form.action :submit, label: "+ Invite", button_html: {class: "add-invitee"} %>
      <div class="invitation-autocomplete-suggestions"></div>
    <% end %>
  <% end %>
  </div>
