<%= semantic_form_for(@event) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, label: false, placeholder: "Event name" %>
    <% if @event.persisted? %>
      <%= render partial: 'invitations', locals: { f: f } %>
    <% end %>
    <div class="suggestions">
      <%= f.semantic_fields_for(:suggestions, @suggestions) do |suggestion_form| %>
        <%= render 'primary_suggestion_fields', f: suggestion_form %>
      <% end %>
    </div>
    <%= link_to_add_association 'Add Another Day', f, :suggestions,
          partial: 'primary_suggestion_fields',
          'data-association-insertion-node' => '.suggestions',
          'data-association-insertion-method' => :append %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: submit_label, button_html: { class: "cta" } %>
  <% end %>
<% end %>
