<div class="table-wrapper grid">
  <div class="scroll-notice forward">►</div>
  <div class="options">
    <table class="touch-scrollable">
      <thead>
        <tr>
          <% @event.primary_suggestions.each do |primary| %>
              <% if primary.secondary_suggestions.present? %>
                <% primary.secondary_suggestions.each do |secondary| %>
                  <th data-primary-id="<%= primary.id %>">
                    <%= primary.description %>
                  <span class="secondary">
                    <%= secondary.description %>
                  </span>
                  </th>
                <% end %>

              <% else %>
                <th data-primary-id="<%= primary.id %>" data-secondary-id="null">
                  <%= primary.description %>
                </th>
              <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% invitees_with_current_user_first(@event, current_user).each do |invitee| %>
          <% if user_voted?(@event, invitee) || invitee == current_user %>
            <tr class="<%= 'votable' if  current_user == invitee %>">
              <% @event.primary_suggestions.each do |primary| %>
                <% if primary.secondary_suggestions.present? %>
                  <% primary.secondary_suggestions.each do |secondary| %>
                    <%= render 'checkbox',
                      vote_for_suggestion: current_user.vote_for_suggestion(secondary),
                      suggestion: secondary,
                      current_user: current_user,
                      invitee: invitee %>
                  <% end %>
                <% else %>
                  <%= render 'checkbox',
                    vote_for_suggestion: current_user.vote_for_suggestion(primary),
                    suggestion: primary,
                    current_user: current_user,
                    invitee: invitee %>
                <% end %>
              <% end %>
            </tr>
          <% else %>
            <tr>
              <td class="send-reminder" colspan=<%= @event.primary_suggestions.count %>>
                <% if current_user.yammer_user? and invitee != current_user %>
                  <div class="reminder-wrapper">
                    <%= link_to "Remind #{invitee.name} to vote",
                      reminders_path(
                        reminder: {
                          receiver_id: invitation_for(@event, invitee),
                          receiver_type: invitation_for(@event, invitee).class.name
                        },
                        event_id: @event.uuid
                      ), method: :post, class: 'remind' %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% @event.primary_suggestions.each do |primary| %>
            <% if primary.secondary_suggestions.present? %>
              <% primary.secondary_suggestions.each do |secondary| %>
                <%= render 'vote_count',
                  suggestion: secondary %>
              <% end %>
            <% else %>
                <%= render 'vote_count',
                  suggestion: primary %>
              </td>
            <% end %>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="invitees" <% if current_user.able_to_edit?(@event) %>class="blank"<% end %>>
    <div class="scroll-notice backward">◄</div>
    <table>
      <thead>
        <tr>
          <th>
            The Invitees
            <span class="secondary">
              <%= @event.invitees.count %> total
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% invitees_with_current_user_first(@event, current_user).each do |invitee| %>
          <tr class="<%= 'current-user' if  current_user == invitee %>">
          <% if user_owner?(@event, invitee) %>
            <td class="event-creator">
              <div class="avatar" style="background-image: url(<%= invitee.image %>)"></div>
              <img src="/assets/bullhorn.svg" data-png-fallback="/assets/bullhorn.png">
          <% else %>
            <td>
              <div class="avatar" style="background-image: url(<%= invitee.image %>)"></div>
          <% end %>
              <span class="user-name">
                <%= invitee.name || invitee.email %>
              </span>
            </td>
          </tr>
        <% end %>
        <tr class="total">
         <td>Total Votes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
