<div class="table-wrapper grid">

  <div class="search-box">
  <%= semantic_form_for(:invitations, html: { id: 'invitations'}) do |form| %>
    <%= form.inputs do %>
      <%= form.input :name_or_email, label: false, required: false,
            input_html: { 'data-role' => 'invitation_name', placeholder: "+ Add invitees...", id: "auto-complete" }  %>
      <%= form.input :yammer_user_id, as: :hidden, input_html: { 'data-role' => 'yammer_user_id' } %>
      <%= form.action :submit, label: "+ Invite", button_html: {class: "add-invitee"} %>
      <div class="invitation-autocomplete-suggestions"></div>
    <% end %>
  <% end %>
  </div>

  <div class="options">
    <table class="touch-scrollable">
      <thead>
        <tr>
          <% @suggestions.each do |suggestion| %>
            <th data-id="<%= suggestion.id %>">
              <%= suggestion.primary %>
              <span class="secondary">
                <%= suggestion.secondary %>
              </span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @event.invitees.each do |invitee| %>
          <% if current_user == invitee %>
            <tr class="votable">
          <% else %>
            <tr>
          <% end %>
            <% @suggestions.each do |suggestion| %>
              <% if current_user == invitee %>
                <%= render 'vote', suggestion: suggestion,
                  vote_for_suggestion: current_user.vote_for_suggestion(suggestion) %>
              <% else %>
                <% if invitee.voted_for?(suggestion) %>
                  <td class="voted">
                    <%= image_tag('/images/checkmark.png') %>
                  </td>
                <% else %>
                  <td>
                  </td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% @suggestions.each do |suggestion| %>
            <td class="vote-count" data-id="<%= suggestion.id %>">
              <%= suggestion.vote_count %>
            </td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>

  <div id="invitees">
    <table class="touch-scrollable">
      <tbody>
        <% @event.invitees.each do |invitee| %>
          <% if current_user == invitee %>
            <tr class="invitee">
          <% else %>
            <tr>
          <% end %>
            <td>
              <%= invitee.name || invitee.email %>
            </td>
          </tr>
        <% end %>
          <tr class="total">
           <td>Total Votes</td>
          </tr>
      </tbody>
    </table>
  </div>

  <ul id="groups">
    <% @event.groups.each do |group| %>
      <li><%= group.name %></li>
    <% end %>
  </ul>
</div>
