<div class="table-wrapper grid">
  <div class="scroll-notice"></div>

  <div class="grid-help">
    <% if current_user.able_to_edit?(@event) %>
      <h4>Invite People</h4>
      <p>Who do you want to invite?</p>
    <% else %>
      <h4>Cast Your Vote</h4>
      <p>What options suit you best?</p>
    <% end %>
  </div>

  <% if current_user.able_to_edit?(@event) %>
    <%= render 'events/add_invitation' %>
  <% end %>

  <div class="options">
    <table class="touch-scrollable">
      <thead>
        <tr>
          <% @event.suggestions.each do |suggestion| %>
            <th data-id="<%= suggestion.id %>">
              <%= suggestion.primary %>
              <span class="secondary">
                <%= suggestion.secondary %>
              </span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>

        <% if current_user.able_to_edit?(@event) %>
          <tr id="blank">
            <% @event.suggestions.each do |suggestion| %>
              <td></td>
            <% end %>
          </tr>
        <% end %>

        <% @event.invitees.each do |invitee| %>
          <% if display_invitee_in_grid?(@event, invitee) %>
            <tr class="<%= 'votable' if  current_user == invitee %>">
            <% @event.suggestions.each do |suggestion| %>
              <% if display_invitee_in_grid?(@event, invitee)  %>
                <% if current_user == invitee %>
                  <%= render 'events/vote', suggestion: suggestion,
                    vote_for_suggestion: current_user.vote_for_suggestion(suggestion) %>
                <% else %>
                  <% if invitee.voted_for?(suggestion) %>
                    <td class="voted">
                      <%= image_tag('checkmark.png') %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% @event.suggestions.each do |suggestion| %>
            <td class="vote-count" data-id="<%= suggestion.id %>">
              <%= suggestion.vote_count %>
            </td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>

  <div id="invitees" <% if current_user.able_to_edit?(@event) %>class="blank"<% end %>>
    <table>
      <tbody>

        <% @event.invitees.each do |invitee| %>
          <% if display_invitee_in_grid?(@event, invitee) %>
            <tr class="<%= 'current-user' if  current_user == invitee %>">

            <% if @event.user_owner?(invitee) %>
              <td class="event-creator">
                <div class="avatar" style="background-image: url(<%= invitee.image %>)"></div>
                <img src="/assets/bullhorn.svg" >
            <% else %>
              <td>
                <div class="avatar" style="background-image: url(<%= invitee.image %>)"></div>
            <% end %>
                <span class="user-name">
                  <%= invitee.name || invitee.email %>
                </span>
              </td>
            </tr>
          <% end %>
        <% end %>

        <tr class="total">
         <td>Total Votes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @event.groups.any? & current_user.able_to_edit?(@event)  %>
  <ul id="groups">
    <h4>Invited Yammer Groups</h4>
    <% @event.groups.each do |group| %>
      <li><%= group.name %></li>
    <% end %>
  </ul>
<% end %>
