<div class="table-wrapper grid">

<%#   <div class="search-box"> %>
<%#     <form id="auto-complete"> %>
<%#       <input type="text" placeholder="+ Add participant&hellip;"/> %>
<%#     </form> %>
<%#   </div> %>

  <div class="options">
    <table class="scrollable horizontal">
      <thead>
        <tr>
          <% @suggestions.each do |suggestion| %>
            <th data-id="<%= suggestion.id %>">
              <%= suggestion.primary %>
              <span class="secondary">
                <%= suggestion.secondary %>
              </span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @event.invitees.each do |invitee| %>
          <% if current_user == invitee %>
            <tr class="votable">
          <% else %>
            <tr>
          <% end %>
            <% @suggestions.each do |suggestion| %>
              <% if current_user == invitee %>
                <%= render 'vote', suggestion: suggestion,
                  vote_for_suggestion: current_user.vote_for_suggestion(suggestion) %>
              <% else %>
                <% if invitee.voted_for?(suggestion) %>
                  <td class="voted">
                    <%= image_tag('/images/checkmark.png') %>
                  </td>
                <% else %>
                  <td>
                  </td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% @suggestions.each do |suggestion| %>
            <td class="vote-count" data-id="<%= suggestion.id %>">
              <%= suggestion.vote_count %>
            </td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>

  <div id="invitees">
    <table>
      <tbody>
        <% @event.invitees.each do |invitee| %>
          <% if current_user == invitee %>
            <tr class="invitee">
          <% else %>
            <tr>
          <% end %>
            <td>
              <%= invitee.name || invitee.email %>
            </td>
          </tr>
        <% end %>
          <tr class="total">
           <td>Total Votes</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
