<% content_for :head do %>
    <meta property="og:title" content="<%= @event.name %>" />
    <meta property="og:type" content="poll" />
    <meta property="og:url" content="<%= event_url(@event) %>" />
<% end %>

<div class="event-header">
  <div class=event-name>
    <h1><%= @event.name %></h1>
      <%= text_field_tag :event_name, @event.name, maxlength: 70 %>
    <div class="edit-title">Edit Title<div class="nub"></div></div>
  </div>
  <% if current_user.able_to_edit?(@event) %>
    <%= link_to 'Edit Poll', edit_event_path(@event), class: "edit-button" %>
  <% end %>
</div>
<section class="sub-head">
  <div class="created-by">
    <span>Created by:</span>
    <div class="avatar" style="background-image: url(<%= @event.owner.image %>)"></div>
    <span><%= @event.owner.name %></span>
  </div>
  <div class="reminder">
    <span><%= pluralize(@event.other_invitees_count, "other person") %> invited</span>
    <span class="divider">|</span>
    <span><%= pluralize(@event.other_invitees_who_have_not_voted_count, 'has not voted','have not voted') %></span>
    <% if @event.other_invitees_who_have_not_voted_count > 0 %>
      <%= link_to 'Remind Them!', reminders_path(reminder: { receiver_id: @event.id, receiver_type: @event.class.name }, event_id: @event), method: :post, class: "remind-all" %>
    <% end %>
  </div>
</section>
