<section class="search-box">
  <h4><%= t 'multiple_invitations_index.invite_people_to_event' %></h4>

    <%= semantic_form_for(@invitation, html: { id: 'invitations' }) do |form| %>
      <%= form.inputs do %>

        <div class="invitee-input">
          <%= text_field_tag "invitation[invitee_attributes][name_or_email]",
            nil,
            'data-role' => 'invitation_name',
            placeholder: t('multiple_invitations_index.watermark'),
            id: 'auto-complete' %>
        </div>

        <%= form.input :event_id, as: :hidden %>

        <%= form.input :invitation_text,
          as: :hidden,
          input_html: { value: last_non_owner_invitation_text(@event) } %>

        <%= form.semantic_fields_for :invitee do |invitee_form| %>
          <%= invitee_form.input :yammer_user_id,
            as: :hidden,
            input_html: { 'data-role' => 'yammer_user_id' } %>

          <%= invitee_form.input :yammer_group_id,
            as: :hidden,
            input_html: { 'data-role' => 'yammer_group_id' } %>
        <% end %>

        <%= form.action :submit, button_html: { id: "add-invitee" } %>
          <div class="invitation-autocomplete-suggestions"></div>
      <% end %>

  <div class="custom-text user-show-custom-text" data-toggle="tooltip" title="<%= t 'multiple_invitations_index.invitation_text_tooltip' %>">
    <h4><%= t 'multiple_invitations_index.invitation_text_label' %></h4>
      <div class="invitation-text">
        <%= form.input :invitation_text,
          label: false,
          input_html: {
            class: 'show-view-textarea',
            disable_with: 'disabled',
            disabled: invitation_text_disabled?(@event, current_user),
            value: last_non_owner_invitation_text(@event)
          }
        %>
      </div>
  </div>
    <% end %>
</section>

<%= render 'javascript_templates/yammer_autocomplete_templates' %>
