<div class="hide-modal">
  <div class="dialog-modal choose-winner">
    <h2>Placeholder</h2>
    <%= form_tag '/winning_suggestions' do %>
      <fieldset class="inputs">
        <ol>
          <div class="suggestions">
            <p>Notify <strong><%= @event.invitees.size %></strong> invitees</p>
          </div>
          <div class="nested-field">
            <li>
              <%= text_area_tag :message, '', class: 'customize-message' %>
            </li>
            <%= hidden_field_tag :event_id, @event.id %>
            <%= hidden_field_tag :winning_suggestion_id %>
            <%= hidden_field_tag :winning_suggestion_type %>
          </div>
        </ol>
      </fieldset>

      <fieldset class="actions">
        <ol>
          <li class="action input-action">
            <%= submit_tag 'Send message and close poll', class: 'cta' %>
            <small>
              After your poll is closed, no invitees can be added and voting
              will be disabled. <br />This is irreversible.
            </small>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
</div>
