<%= @event.name %>
<ul class="suggestions">
  <% @suggestions.each do |suggestion| %>
    <li>
      <%= suggestion.description %>
      <div class="vote" data-id="<%= suggestion.id %>">
        <%= semantic_form_for suggestion.votes.build do |f| %>
          <%= f.input :suggestion_id, as: :hidden, input_html: { value: suggestion.id } %>
          <%= f.action :submit, button_html: { value: "Vote for this" } %>
        <% end %>
      </div>

      <p class="vote-count" data-id="<%= suggestion.id %>">
        <%= suggestion.vote_count %>
      </p>
    </li>
  <% end %>
  <%= link_to 'Edit event', edit_event_path(@event) %>
</ul>
