<div class="show-event">
  <h1 class="event-name">
    <%= @event.name %>
  </h1>
  <% if current_user.able_to_edit?(@event) %>
    <%= link_to 'Edit event or invite people', edit_event_path(@event), class: "edit-button" %>
  <% end %>
  <%= render partial: 'grid' %>

  <% if current_user.able_to_edit?(@event) %>
    <div class="invitation-message">
      <%= semantic_form_for(@event) do |f| %>
        <%= f.inputs do %>
          <%= f.input :message, label: false, placeholder: "Enter your custom message here..." %>
        <% end %>
        <%= f.actions do %>
          <%= f.action :submit, label: 'Save Message', button_html: { class: "cta" } %>
          <p class="help">You can also share the following URL with people you have invited: <%= link_to event_url(@event) %> </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
