<div class="show-event">
  <h1 class="event-name">
    <%= @event.name %>
  </h1>
  <% if current_user.able_to_edit?(@event) %>
    <%= link_to 'Edit event or invite people', edit_event_path(@event), class: "edit-button" %>
  <% end %>
  <%= render partial: 'grid' %>

  <p>
    Share this link with your friends to have them vote on it:
    <%= link_to event_url(@event), event_url(@event) %>
  </p>
  <ul class="suggestions">
    <% @suggestions.each do |suggestion| %>
      <%= render partial: 'suggestion', object: suggestion,
            locals: { vote_for_suggestion: current_user.vote_for_suggestion(suggestion) } %>
      <% end %>
    </ul>
</div>
