<% content_for :head do %>
    <meta property="og:title" content="<%= @event.name %>" />
    <meta property="og:type" content="poll" />
    <meta property="og:url" content="<%= event_url(@event) %>" />
<% end %>

<div class="show-event">
  <div class="event-header">
    <h1 class="event-name">
      <%= @event.name %>
    </h1>
    <% if current_user.able_to_edit?(@event) %>
      <%= link_to 'Edit', edit_event_path(@event), class: "edit-button" %>
    <% end %>
  </div>

  <section class="sub-head">
    <div class="created-by">
      <span>Created by:</span>
      <div class="avatar" style="background-image: url(<%= @event.owner.image %>)"></div>
      <span><%= @event.owner.name %></span>
    </div>
    <% if @event.other_invitees_count > 0 %>
      <div class="reminder">
        <span><%= pluralize(@event.other_invitees_count, "other person") %> invited</span>
        <span class="divider">|</span>
        <span><%= pluralize(@event.other_invitees_who_have_not_voted_count, 'has not voted','have not voted') %></span>
        <%= link_to 'Remind Them!', reminders_path(event_id: @event), method: :post, class: "remind-all" %>
      </div>
    <% end %>
  </section>

  <%= render partial: 'events/grid' %>

  <div class="event-url">
    <p>You can also share this URL directly with your invitees to have them vote:</p>
    <form>
      <input id="event-url" readonly="readonly" class="read-only"  type="url" value="<%= event_url(@event) %>" />
      <div id="copy-url-container">
        <input id="copy-url" type="button" value="Copy event URL" data-title="You can also share this URL directly with your guests" type="url" value="<%= event_url(@event) %>"/>
      </div>
    </form>
  </div>
</div>
