<div class="show-event">
  <h1 class="event-name">
    <%= @event.name %>
  </h1>
  <% if current_user.able_to_edit?(@event) %>
    <%= link_to 'Edit event or invite people', edit_event_path(@event), class: "edit-button" %>
  <% end %>
  <%= render partial: 'grid' %>

  <% if current_user.able_to_edit?(@event) %>
    <div class="invitation-message">
      <%= semantic_form_for(@event) do |f| %>
        <%= f.inputs do %>
          <%= f.input :message, label: false, placeholder: "Enter your custom message here..." %>
        <% end %>
        <%= f.actions do %>
          <input id="event-url" name="" readonly="readonly" data-title="Copy (Command+C) this event's URL" rel="tooltip" class="read-only" type="url" value="<%= event_url(@event) %>" />
          <%= f.action :submit, label: 'Send Invitation ➜', button_html: { class: "cta" } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
