<% content_for :head do %>
    <meta property="og:title" content="<%= @event.name %>" />
    <meta property="og:type" content="poll" />
    <meta property="og:url" content="<%= event_url(@event) %>" />
<% end %>

<div class="show-event">
  <div class="event-header">
    <h1 class="event-name">
      <%= @event.name %>
    </h1>
    <% if current_user.able_to_edit?(@event) %>
      <%= link_to 'Edit', edit_event_path(@event), class: "edit-button" %>
    <% end %>
  </div>

  <section class="sub-head">
    <div class="created-by">
      <span>Created by:</span>
      <div class="avatar" style="background-image: url(<%= @event.owner.image %>)"></div>
      <span><%= @event.owner.name %></span>
    </div>
      <div class="reminder">
        <span><%= pluralize(@event.other_invitees_count, "other person") %> invited</span>
        <span class="divider">|</span>
        <span><%= pluralize(@event.other_invitees_who_have_not_voted_count, 'has not voted','have not voted') %></span>
        <% if @event.other_invitees_who_have_not_voted_count > 0 %>
          <%= link_to 'Remind Them!', reminders_path(event_id: @event), method: :post, class: "remind-all" %>
        <% end %>
      </div>
  </section>

  <% if current_user.able_to_edit?(@event) %>
    <%= render 'events/add_invitation' %>
  <% end %>

  <%= render partial: 'events/grid' %>

  <% if !current_user.able_to_edit?(@event) %>
    <section class="invitee-sharing">
      <h4>Share this poll:</h4>
      <a href="#yammer-invite-modal" rel="yammer-invite" name="yammer-invite-modal" class="yammer-invite"><img src="/assets/email.svg" data-png-fallback="/assets/email.png">Yammer</a>
      <a href="#email-invite-modal" rel="email-invite" name="email-invite-modal" class="email-invite"><img src="/assets/email.svg" data-png-fallback="/assets/email.png">Email</a>
      <a href="#" class="copy-url"><img src="/assets/email.svg" data-png-fallback="/assets/email.png">Copy Event URL</a>
    </section>
  <% end %>
</div>
