<% content_for(:javascript) do %>
  <%= javascript_include_tag :sign_in %>
<% end %>

<div class="show-event">
  <%= render 'events/header' %>
  <%= render 'events/closed_status' %>
  <%= render 'events/metadata' %>
  <%= render 'events/grid' %>
  <%= render 'shared/sign_in_modal' -%>
</div>
