<div class="show-event">
  <%= render 'events/header' %>
  <%= render 'events/user_invitation_form' %>
  <%= render 'events/metadata' %>
  <%= render 'events/grid' %>
  <%= render 'events/invited_groups' %>
  <%= render 'events/yammer_embed_feed' %>
</div>

<% content_for(:poll_create_button) do %>
  <%= render 'shared/create_poll' %>
<% end %>
