<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <title><%= page_title %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag :application , media: 'screen only' %>
    <%= stylesheet_link_tag 'media-queries', media: '(min-width:321px)' %>

    <%# <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> %>

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= render 'shared/javascript' %>
  </body>
</html>
