<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <title><%= page_title %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= content_for(:head) %>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Global stylesheets (mobile/tabelt/desktop -->
    <%= stylesheet_link_tag :application %>

    <!-- Tablet & Desktop stylesheets -->
    <%= stylesheet_link_tag 'media-queries', media: '(min-width:321px)' %>

    <!--[if (lt IE 9) & (!IEMobile)]>
      <%= stylesheet_link_tag :ie %>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= render 'shared/javascript' %>
  </body>
</html>
