<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title><%= page_title %></title>

  <%= stylesheet_link_tag :application , media: 'all' %>
  <%= stylesheet_link_tag "desktop" , media: "(min-width:320px)" %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%# <div id="header"> %>
    <%# <% if signed_in? -%>
    <%#   <%= link_to "Sign out", sign_out_path, :method => :delete %1> %>
    <%# <% else -%>
    <%#   <%= link_to "Sign in", sign_in_path %1> %>
    <%# <% end -%>
  <%# </div> %>
  <%= render 'shared/flashes' -%>
  <%= yield %>
  <%= render 'shared/javascript' %>
</body>
</html>
