<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>sched.do</title>

    <meta property="og:site_name" content="sched.do">
    <meta property="og:image"
      content="<%= "https://#{ENV['HOSTNAME']}/logo.png " %>">

    <% if @event && @event.name %>
      <meta property="og:description"
        content="<%= @event.owner %>'s Sched.do poll for <%= @event.name %>">
    <% else %>
      <meta property="og:description"
        content="sched.do is your personal administrative assistant here to free you from the drudgery of scheduling. No more email. No more shuffling. No more cancellations. We take out the guesswork so you can move on to more important things – like prepping content for the meeting itself! Sign up for sched.do and eliminate your calendar chaos today!">
    <% end  %>

    <%= content_for(:head) %>

    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Global stylesheets (mobile/tabelt/desktop -->
    <%= stylesheet_link_tag :application %>

    <!-- Tablet & Desktop stylesheets -->
    <%= stylesheet_link_tag 'media-queries', media: '(min-width:321px)' %>

    <!--[if (lt IE 9) & (!IEMobile)]>
      <%= stylesheet_link_tag :ie %>
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah'
      rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
    <div class="footer-spacer">
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
